body {
    background-color: #f0f0f0;
}

hr{
    border-color: #222224;   
}

@font-face {
    font-family: poke-font;
    src: url(pokefont/PokemonHollow.ttf);
}

@font-face {
    font-family: poke-font2;
    src: url(pokefont/PokemonSolid.ttf);
}

.page-header {
    font-family: poke-font2;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background-color: #ee1515;
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.sidebar {
    background-color: #222224;
}

button{
    color: black;   
}

.navbar {
    background-color: #ee1515;
    border-bottom: 1px solid #222224;
}

.navbar-inverse .navbar-brand {
    font-family: poke-font;
    font-size: 225%;
}

a {
    color: white;
}

.pokemon {}

.pokemon h1 {
    margin-top: 10px;
}

.pokemon img {
    text-align: center;
    width: auto;
    height: 300px;
}

.pokemon a{
    color: #ee1515;   
}