body {
    background-color: #216278;
    min-height: 750px;
    padding-top: 50px;
}

.navbar {
    background-color: #61b4cf;
    color: white;
    margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}


/*HOME CSS*/

.home {
    min-height: 650px;
    text-align: center;
    /*    background-color: #216278;*/
    background-image: url(../images/mainbackground2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

.home h1 {
    margin-top: 150px;
}

.home img {
    width: 50%;
    height: 50%;
    margin-bottom: 15px;
    border: 1px solid black;
}

.home h1 {
    font-size: 500%;
}

.main-content {
    background-color: #216278;
    color: white;
}

.main-content img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 250px;
    height: 250px;
}

.programmer {
    text-align: center;
}

.profile {
    text-align: center;
}


/*ABOUT CSS*/

.about {
    text-align: center;
}


/*PROJECTS CSS*/

.projects {
    min-height: 300px;
    text-align: center;
    background-color: #216278;
    background-image: url(../images/mainbackground2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 0px;
}

.projectrow {
    min-height: 800px;
    background-color: #216278;
}

.projects h1 {
    font-size: 400%;
    margin-top: 100px;
/*    text-shadow: 1px 1px 1px white;*/
    text-align: center;
    color: white;
}

.project {
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-shadow: none;
}

.project img {
    width: 300px;
    height: 300px;
    /*    border: solid 1px white;*/
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
}

.project p {
    color: white;
    text-align: left;
    font-size: 120%;
}

.project h2 {
    margin-top: 15px;
}


/*resume*/

.resume {
    min-height: 300px;
    text-align: center;
    background-color: #216278;
    background-image: url(../images/mainbackground2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 0px;
}

.resume h1 {
    font-size: 400%;
    margin-top: 100px;
    /*    text-shadow: 1px 1px 1px white;*/
    text-align: center;
    color: white;
}

.resume-doc {
    text-align: center
}

.resume-doc iframe {
    margin-top: 15px;
    width: 100%;
    height: 1000px;
}


/*CONTACT*/

.contact {
    min-height: 875px;
    text-align: center;
    background-color: #216278;
    background-image: url(../images/mainbackground2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact h1 {
    font-size: 400%;
    margin-top: 100px;
    /*    text-shadow: 1px 1px 1px white;*/
    text-align: center;
    color: white;
}

.contact-info{
    padding-top: 150px;
    padding-bottom: 15px;
    color: white;
    text-align: center   
}

.contact-info a{
    margin-left: 30px;
    color: black;
}

.git a{
    color: black;   
}

.linkedin a{
     color: forestgreen;
}

.facebook a{
    color: dodgerblue;
}


/*ABOUT CSS*/

.about{
    min-height: 300px;
    text-align: center;
    background-color: #216278;
    background-image: url(../images/mainbackground2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 0px;
}

.about h1{
    font-size: 400%;
    margin-top: 100px;
    text-align: center;
    color: white;
}

.about-me{
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.about-me h1{
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 10px;
}

.about-me p{
    text-align: left;
    color: white;
    padding-left: 10px;
    text-indent: 30px;
    font-size: 120%;
}

.about-me .image{
    text-align: center;
    padding: 0px;
}
.about-me img{
    text-align: right;
    width: 250px;
    height: 250px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    
}
/*FOOTER*/

.footer {
    color: white;
    background-color: #61b4cf;
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 0px;
    border-top: 1px solid white;
    padding-top: 8px;
    text-align: left;
    /*     Set the fixed height of the footer here */
    /*    height: 60px;*/
}

a {
    margin-right: 30px;
}