<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-1 main">
    <h1 class="page-header">Types</h1>
</div>

<div ng-repeat="type in types track by $index">
    <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-1 main">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ type.name }}</th>
                    <th>Element(s)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Super Effective:</td>
                    <td><span ng-repeat="element in type.super_effective">{{ element.name }} </span></td>
                </tr>
                <tr>
                    <td>Inneffective:</td>
                    <td><span ng-repeat="element in type.ineffective">{{ element.name }} </span></td>
                </tr>
                <tr>
                    <td>No Effect:</td>
                    <td><span ng-repeat="element in type.no_effect">{{ element.name }} </span></td>
                </tr>
                <tr>
                    <td>Weakness:</td>
                    <td><span ng-repeat="element in type.weakness">{{ element.name }} </span></td>
                </tr>
                <tr>
                    <td>Resistance:</td>
                    <td><span ng-repeat="element in type.resistance">{{ element.name }} </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>